<div class="space-y-6">
  <h2 class="text-2xl font-bold text-gray-800">Alerts</h2>
  <div class="flex flex-col gap-3">
    <app-iebem-alert title="Éxito" message="Operación correcta" variant="success"></app-iebem-alert>
    <app-iebem-alert title="Info" message="Información útil" variant="info"></app-iebem-alert>
    <app-iebem-alert title="Advertencia" message="Revisa la información" variant="warning"></app-iebem-alert>
    <app-iebem-alert title="Error" message="Ocurrió un problema" variant="danger"></app-iebem-alert>
  </div>
</div>

